<app-header>
    <li class="breadcrumb-item active p-0"> </li>
    <li class="breadcrumb-item active p-0">Sales Order Details</li>
</app-header>
<div>
    <app-order-details></app-order-details>
</div>
<div
class="row address-row m-0 mb-5 main_comp d-flex justify-content-lg-end align-items-center border-1  mt-4 border-default ">
<button type="button "
    class="btn btn-danger  bg-white border border-secondary  d-inline-block w-auto  rounded-pill "
    title="Delete">Delete</button>
<button type="button" class="btn btn-danger d-inline-block w-auto rounded-pill  text-white ms-3 "
    title="Block">Edit</button>
</div>