
<div class="main-comp">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span>quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. </span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat .

        
    </p>
    <p class="mt-5">
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, <span>sed do eiusmod tempor incididunt ut </span>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat .
     
    </p>
    <p class="mt-4"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
         nisi ut aliquip <span>exea commodo consequat. Duis aute irure dolor in
          reprehenderit </span>in voluptate velit esse cillum dolore eu fugiat nulla
           pariatur. Excepteur sint occaecat .
    </p>
    
    </div>
    <div class=" my-5 me-5 d-flex justify-content-end">

        <div class="locateyourdata  d-flex">
           
            <select type="text" class="form-control locationdata   " max="999999">
                <option *ngFor="let payment of days">{{payment}}</option>
            </select>
            <img class="droparrow" src="assets/images/arrow-down.svg">
        
        </div>
    <div class="postdata ms-4">
        <button>Boost</button>
    </div>
</div>
