// color
$blue:#002280;
$red:#FF4746;
$skyBlue:#4791FF;
$white:white;
$orange:#FF642B;
$lightGrey:#A1B3C9;
$gray500:#768DA9;
$gray900:#1A264E;
$black:#0A0045;


//fontsize
$fontSize40:40px;
$fontSize24:24px;
$fontSize21:21px;
$fontSize18:18px;
$fontSize16:16px;
$fontSize14:14px;
