@import '../../../../../assets/variable.scss';
.add-New{
    bottom: 20px;
    background: #0093D6 !important; 
border-radius: 48px !important;
color: white !important;
padding: 13px;
@include fontStyleManager($fontFamilyInterRegular,$fontWeightSemiBold,$fontSize14,$Colorwhite);

}
.sidenavdata{
    background-color: $Color_F9FBFE;
     border-radius: 10px 0px 0px 10px;
    height:100%;
    @media (max-width:991px) {
        padding: 0px;
    }

    .raftarlogo{
        width:184px;
        @media (max-width:991px) {
            display: none;
        }
       
    }

    .logocapimage{
        height:44px;
        width:44px;
        @media (max-width:991px) {
            display: none;
        }
       
    }
    .logocapdata{
        @media (max-width:991px) {
            display: none;
        }
    
        h5{
            color:$Colorwhite;
        }
        
        p{
            color:$Color_A1B3C9;
            font-size: 18px;
            font-weight: 
            700, Bold;
            max-width:155px;
        }
    }

    .helpuser{
        border-radius: 40px;
        border: 1px solid $Color_002280!important;
        background-color: $Color_F9FBFE;
        color: $Color_002280;
        font-weight: 600;
        font-size: 16px;
        line-height: 29px;

        @media (max-width:991px) {
            display: none;
        }
    }
    .lowborder{
        border-bottom:1px solid #DBE9F5;
        padding:0;
    }
}

.nav-item{
   
    border-bottom: 1px solid #E3E5EE;

    cursor: pointer;
    // opacity: .4;
}

.nav-link{
    @include fontStyleManager($fontFamilyInterRegular,$fontWeightSemiBold,$fontSize16,$Color_002280);
    @media (max-width:992px) {
        font-size: 14px !important;
    }
    @media (max-width:576px) {
        font-size: 12px !important;
    }
}

.active-item {
    background-image: url('../../../../../assets/images/Vectorprofile.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
    color: #EE7402 !important;
    @media (max-width:992px) {
        background-image: none !important;
    }
}

.nav-item:hover{
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}
    
    .navbar-toggler{
        border: 0.5px solid #BFD1E3 ;
    }
    .logocap{
        @media (max-width:991px) {
            display: none;
            margin-top: 0px !important;
        }
    }
   .navbar-toggler-icon{
        background-image: url('/assets/images/menu.svg');
    }
.user{
    display: none;
    @media (max-width:991px) {
        display: block;
    }
}
.mob-view{
    @media (max-width:991px) {
width: 100%;    }
}
.back-btn{
    border: 0.5px solid #FFFFFF !important;
    opacity: .4;
    color: white;
    border-radius: 9px; 
    width: 209px;
    max-width: 100%;
    padding: 8px;
    @media (max-width:991px) {
        display: none;
    }
}

hr{
    color: rgba(219, 233, 245, 1);
}

.profile-img{
    display: none;
}
.nav-link:focus{
    color: #EE7402  !important  ;
    .profile-img{
     display: block !important;
    }
}

.navbar-nav{
    @media (max-width:992px) {
        flex-direction: row !important;
        justify-content: space-between;
    }
}

.list{
    width: 200px;
    @media (max-width:992px) {
        width: 100%;
    }
}






