<div class="modal-header p-0">
    <button class="button-close mb-2" mat-button [mat-dialog-close]="false">
      <img src="assets/images/close.png" width="16" height="16">
    </button>
</div>
<div class="modal-body py-0">
    <img [src]=data?.img width="53" height="53">
    <h1 class="pt-3 px-3">{{data?.heading}}</h1>
    <!-- <p>{{data?.para}}</p> -->
</div>
<div class="modal-footer d-flex justify-content-between mt-3">
    <button type="button" class="btn report me-2" [mat-dialog-close]="true">{{data?.report}}</button>
    <button type="button" class="btn cancel ms-2" [mat-dialog-close]="false">{{data?.cancel}}</button>
</div>

