
@import '../../../../../assets/variable.scss';
@import '../../../../../assets/common.scss';
.main{
    padding: 0px 200px
}
h3{
    @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize20,$Color_0A0045);  
}
.main_comp{
    padding: 18px 35px;
    @media (max-width:768px) {
        padding: 15px;
    }
    
    h1{
        @include fontStyleManager($fontFamilyAvenir,$fontWeightSemiBold,$fontSize26,$Color_0A0045);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
    img{
        @media (max-width:768px) {
            width: 42px;
        }
    }
}
table{
    table-layout: fixed;
    td{
        padding-left: 35px;
        @media (max-width:768px) {
            padding-left: 15px;
        }
    }
    h3{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize18,$Color_5B6D8E);
        @media (max-width:768px) {
            font-size: 12px !important;
        }
    }
    h2{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize22,$Color_0A0045);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
}
.deactivate{
    background-color: #FF4746   ;
    width: 336px;
    max-width: 100%;
    padding: 18px 5px;
    border-radius: 100px;
    margin-top: 15px;
    @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize16,$Colorwhite);
    @media (max-width:768px) {
        margin-top: 20px;
    }}

.section{
    background: white;
    margin: 0px 200px 50px 200px;
    padding: 30px;
    border-radius: 15px;
}   
.cursor-pointer{
    cursor: pointer;
} 