<div class="sarvayoga">
    <div class="w-100">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="caraouseldata">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/machinecaro.svg" class="d-block w-100" height="308px"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/machinecaro.svg" class="d-block w-100" height="308px"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/machinecaro.svg" class="d-block w-100" height="308px"
                            alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="produtdesign ms-5 mt-5">
        <img class="tagimg" src="assets/images/tag.svg" alt="">
        <span class="aboutproductdesign ms-2">Product Design</span>
        <img class="ellipse ms-2" src="assets/images/Ellipse 274.png" alt="">
        <span class="aboutproductdesign ms-2">Robotics</span>

    </div>
    <div class="bubapuppet mx-md-5 mx-3 mt-3 d-flex justify-content-between">
        <span class="buba">Buba Puppet Lamp</span>
        <span class="buba">₹25000</span>
    </div>
    <div class="Raftarvarify mx-md-5 mx-3  mt-3 d-flex justify-content-between">
        <div class="locationdata">
            <img src="assets/images/location.svg" alt="">
            <span class="ms-2 location">Alwarpet, Chennai</span>

        </div>
        <div class="varification request" (click)="requestSent()">
            <span class="ms-2 ">Request Verification</span>
        </div>
    </div>

    <div class="ownership d-flex justify-content-evenly pt-3">
        <div class=" logocap d-flex">
            <img class="logocapimage mt-2" src="assets/images/user.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>Self Owned</h5>
                <p class="text-truncate logocapsubdata">OwnerShip Type</p>
            </div>

        </div>
        <div class="logocap d-flex">
            <img class="logocapimage mt-2 " src="assets/images/calendar.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>2022</h5>
                <p class="text-truncate logocapsubdata">Purchased Year</p>
            </div>

        </div>

    </div>
    <div class="aboutproduct mt-3 mx-md-5 mx-3  d-flex justify-content-between">
        <span class="productcondition">Product Condition</span>
        <button class="newProduct">New</button>
    </div>
    <hr>
    <div class=" aboutproduct mt-3 mx-md-5 mx-3  d-flex justify-content-between">
        <span class="productcondition">Is this product under hypothecation?</span>
        <button class="producttype">No</button>
    </div>
    <hr>
    <h4 class="aboutbuba mt-2 ms-5">
        About Buba Puppet Lamp
    </h4>
    <p class="mx-md-5 mx-3 mt-4">
        Plastic is a key material for IKEA and remains so going forward.
        It is strong, durable, lightweight and versatile. It is a main
        component in a large amount of our products and has a wide variety
        of applications from surface materials. Plastic is a key material '
        for IKEA and remains so going forward. It is strong, durable,
        lightweight and versatile. It is a main component in a large
        amount of our products and has a wide variety of applications from
        surface materials. Plastic is a key material for IKEA and remains
        so going forward. It is strong, durable, lightweight and versatile.
        It is a main component in a large amount of our products and has a
        wide variety of applications from surface materials.
    </p>
</div>