<div class="modal-header pb-0">
    <img src="assets/images/close.png" alt="" class="cursor" [mat-dialog-close]="false">
</div>
<div class="modal-body pt-0">
    <h3 class="mb-5 ms-3">Filter by Milestone</h3>
   
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex justify-content-between align-items-center mt-2" *ngFor="let filter of filters">
                <label class="container p-0 mx-3">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    {{filter.label}}
                </label>
            </div>
            <div class="mt-4">
                <div class="mt-3 d-flex flex-column">
                    <mat-form-field appearance="fill">
                        <mat-label>select company</mat-label>
                        <mat-select>
                            <mat-option  *ngFor="let companyItem of companiesList">{{companyItem.company_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mt-3 d-flex flex-column">
                    <mat-form-field appearance="fill">
                        <mat-label>select business</mat-label>
                        <mat-select>
                            <mat-option  *ngFor="let businessItem of businessActivityList">{{businessItem.industry_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mt-3 d-flex flex-column">
                    <mat-form-field appearance="fill">
                        <mat-label>select company</mat-label>
                        <mat-select>
                            <mat-option>Select Industry</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
                <button class="btn apply-btn">
                    Apply <img src="assets/images/login.svg">
                </button>
    </div>
</div>

