<section class="main_comp ">
    <div class="d-flex mb-4 cursor-pointer">
        <img (click)="goBack()"  src="assets/images/arrow-circle-left.svg">
        <h3 (click)="goBack()" class="mb-0 ms-2 marketplace-Product "> Post list
        </h3>
    </div>
    <div>
        <div class="row mt-0"> 
            <div *ngFor="let details of myPostListDetails;let i=index">
                <div class="m-auto pb-3">
                    <div class="card p-md-4 p-md-3 p-0" >
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="d-flex justify-content-between align-items-start">
                                    <!-- <img src="assets/images/Avatar.svg"> -->
                                    <div class="fltr-field-wrap">
                                        <!-- <figure *ngIf="details?.Auth?.CompanyInfo.profile_pic;else pic" class="profile-pic"> -->
                                            <img class="profile-pic rounded-circle"
                                    [src]="profileDetails?.profile_pic!=null?profileDetails?.profile_pic:'assets/images/Profile_1.svg'"
                                    onError="this.src='assets/images/Profile_1.svg'"
                                    width="72px" height="72px">
                                        <!-- </figure> -->
                                        <!-- <ng-template #pic>
                                            <figure class="amenity-icon-wrap amenity-img">
                                                <img src="assets/images/Avatar.png">
                                            </figure>
                                        </ng-template> -->
                                    </div>
                                    <div class="ms-md-4 ms-2">
                                        <h2 class="mb-0">{{details?.Auth?.CompanyInfo?.company_name}}</h2>
                                        <h3 class="min-ago">{{details?.created_at | dateAgo}}</h3>
                                    </div>
                                </div>
                                <img src="assets/images/Group 1023.svg" width="25px" height="25px" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" 
                                >
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <li (click)="edit(details.id)"><a class="dropdown-item"> 
                                        <img src="assets/images/edit-2.svg" class="me-3">
                                        Edit</a></li>
                                <li (click)="delete(details.id)" ><a class="dropdown-item delete mt-3">
                                        <img src="assets/images/trash.svg" class="me-3">
                                        Delete</a></li>
                                  </ul>                              
                                </div>
                            <!-- <h3 class="card-text mb-3 ms-md-5 ps-md-5 pe-md-4 pe-2">{{details?.content}}</h3> -->
                            <h3 class="card-text mb-3 ms-md-5 ps-md-5 pe-md-4 pe-2">{{readMore[i] ? details?.content : details?.content | slice:0:200}}
                                <span *ngIf="!readMore[i]">...</span>
                                <a href="javascript:;" *ngIf="!readMore[i]" (click)="readMore[i]=true">Read More</a>
                            </h3>

                            <owl-carousel-o [options]="customOptions" style="width: 100%">

                                <ng-container  *ngFor="let slide of details?.slides">
                                    <ng-template   *ngIf="slide.type == 'image' || slide.type == 'pdf'" carouselSlide>
                                        <img (click)="onview(details)" style="width:100%;height:400px; object-fit: cover;" [src]="slide.url" >
    
                                    </ng-template>
                                    <ng-template *ngIf="slide.type == 'video'" carouselSlide [id]="slide.id">
    
                                        <video *ngIf="slide.type == 'video'" controls style="width:100%;height:400px">
                                            <source [src]="slide.url" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </ng-template>
                                </ng-container>
    
                            </owl-carousel-o>
                           
                            <div class="d-flex justify-content-between align-items-center like-section">
                                <div (click)="hitLike(details?.id)" class="d-flex align-items-center justify-content-between me-lg-5 me-2">
                                    <!-- <img src="assets/images/like_1.svg" >
                                    <h3 class="mb-0 ms-2 color_grey">{{details.likes_count > 1? details.likes_count + ' Likes': details.likes_count + ' Like'}}</h3> -->
                                    <img [src]="details?.isLiked==true ? 'assets/images/like_2.svg':'assets/images/like_1.svg'" width="28px" height="28px" class="show-interest">
                                <h3  [ngClass]="details?.isLiked==true ? 'color_red' : 'color_grey'" class="mb-0  ms-1">{{details.likes_count > 1? details.likes_count + ' Likes': details.likes_count + ' Like'}} </h3>
                                </div>
                                <div (click)="onview(details)" class="d-flex align-items-center justify-content-between me-lg-5 me-2">
                                    <img src="assets/images/Chat.svg" >
                                    <h3 class="ms-2 mb-0  color_orange">{{details.comment_count > 1?details.comment_count + ' Comments': details.comment_count + ' comment' }}</h3>
                                </div>
                                <div (click)="shareHome(details.id,1)" class="d-flex align-items-center justify-content-between">
                                    <img src="assets/images/Shape.svg" >
                                    <h3 class="ms-2 mb-0 color_grey">{{details.postShare_count}} share</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center nodata" *ngIf="show">
                <p class="mb-0">No data found</p>
         </div>
          
        </div>
    </div>
</section>
