<app-header>
    <li class="breadcrumb-item active"></li>
    <li class="breadcrumb-item active p-0">Sarva Yoga Studio</li>
</app-header>
<div class="sarvayoga">
    <div class="p-0 ">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>
            <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>
            <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>
        </owl-carousel-o>
    </div>
    <div class="produtdesign ms-md-5 ms-3 mt-md-5 mt-3">
        <img class="tagimg" src="assets/images/tag.svg" alt="">
        <span class="aboutproductdesign ms-2">Product Design</span>
        <img class="ellipse ms-2" src="assets/images/Ellipse 274.png" alt="">
        <span class="aboutproductdesign ms-2">Robotics</span>

    </div>
    <div class="bubapuppet mx-md-5 mx-3 mt-3 d-flex justify-content-between">
        <span class="buba">Buba Puppet Lamp</span>
        <span class="buba">₹25000</span>
    </div>
    <div class="Raftarvarify mx-md-5 mx-3  mt-3 d-flex justify-content-between">
        <div class="locationdata">
            <img src="assets/images/location.svg" alt="">
            <span class="ms-2 location">Alwarpet, Chennai</span>
        </div>
        <div class="varification">
            <img class="varifysign" src="assets/images/Group 1000004522.png" alt="">
            <span class="ms-2">Raftaarr Varified</span>
        </div>
    </div>
    <div class="ownership d-flex justify-content-evenly pt-3 mt-3">
        <div class=" logocap d-flex">
            <img class="logocapimage mt-2" src="assets/images/user.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>Self Owned</h5>
                <p class="text-truncate logocapsubdata">OwnerShip Type</p>
            </div>
        </div>
        <div class="logocap d-flex">
            <img class="logocapimage mt-2 " src="assets/images/calendar.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>2022</h5>
                <p class="text-truncate logocapsubdata">Purchased Year</p>
            </div>
        </div>
    </div>
    <div class="aboutproduct mt-3 mx-md-5 mx-3  d-flex justify-content-between">
        <span class="productcondition">Product Condition</span>
        <button class="newProduct">New</button>
    </div>
    <hr>
    <div class=" aboutproduct mt-3 mx-md-5 mx-3  d-flex justify-content-between">
        <span class="productcondition">Is this product under hypothecation?</span>
        <button class="producttype">No</button>
    </div>
    <hr>
    <h4 class="aboutbuba mt-2 ms-md-5 ms-3">
        About Buba Puppet Lamp
    </h4>
    <p class="mx-md-5 mx-3 mt-4">
        Plastic is a key material for IKEA and remains so going forward.
        It is strong, durable, lightweight and versatile. It is a main
        component in a large amount of our products and has a wide variety
        of applications from surface materials. Plastic is a key material '
        for IKEA and remains so going forward. It is strong, durable,
        lightweight and versatile. It is a main component in a large
        amount of our products and has a wide variety of applications from
    </p>
    <div class="d-flex justify-content-end">
        <button class="InterstedButton delete float-end me-md-5 me-3 ms-3 mb-md-5 mb-3" >
            Delete
        </button>
        <button class="InterstedButton float-end me-md-5 me-3 ms-3 mb-md-5 mb-3">
            Edit
        </button>
    </div>
</div>
<!-- <div class="home-container">
    <div class="header">
        <h4 class="header-tag px-5"><b>Home</b></h4>
    </div>
    <div class="info-container">
        <p class="info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod tempor labore Duis aute irure dol reprehenderit in voluptate velit esse do eiusmod tempor cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. 
        </p>
    </div>
</div> -->
