<app-header>
    <li class="breadcrumb-item active"></li>
    <li class="breadcrumb-item active p-0">Plastic Machine</li>
</app-header>
        <div id="carouselExampleSlidesOnly caraouseldata" class="carousel slide w-100" data-bs-ride="carousel">
            
                <!-- <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let slide of slidesStore">
                        <ng-template carouselSlide [id]="slide.id">
                            <img [src]="slide" >
                        </ng-template>
                    </ng-container>

                </owl-carousel-o> -->

                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/Rectangle150882.svg" alt=""></ng-template>  
                  </owl-carousel-o>

            </div>
        
    <div class="profiledetaiL mx-5 my-5 ">
        <!-- <div>
            <span>Highlights</span>
            <img src="" alt="">
        </div> -->
        <img class="w-100" src="assets/images/plasticemachine.png" alt="">
        <p class="mt-4">
            Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials. Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials. Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials.
        </p>
    </div>

    <div class="highlights mx-5 mt-5">
        <span>Highlights</span>
        <div class="d-flex highlightsdata align-items-start">
            <img src="assets/images/number.svg" alt="" class="mt-0">
            <p class="ms-3">Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials.</p>
        </div>
        <div class="d-flex mt-3 align-items-start">
            <img src="assets/images/number_2.svg" alt="" class="mt-0">
            <p class="ms-3">Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials.</p>
        </div>
        <div class="d-flex mt-3 align-items-start">
            <img src="assets/images/number_3.svg" alt=""  class="mt-0">
            <p class="ms-3">Plastic is a key material for IKEA and remains so going forward. It is strong, durable, lightweight and versatile. It is a main component in a large amount of our products and has a wide variety of applications from surface materials.</p>
        </div>
    </div>
