<app-header>
    <li class="breadcrumb-item active"></li>
    <li class="breadcrumb-item active p-0">Sarva Yoga Studio</li>
</app-header>
<div class="sarvayoga">
    <div class="w-100">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <img class="sharedata" src="assets/images/Frame 1000005477.png" alt="">
            <div class="caraouseldata carousel-inner">

                <div class="carousel-item active">
                    <img src="assets/images/Rectangle 150882.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/image 8 (2).svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/image 8 (1).svg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>


    <!-- <div>
    <img class="w-100" src="assets/images/Rectangle 150882.svg" alt="">
</div> -->
    <div class="produtdesign ms-5 mt-5">
        <img class="tagimg" src="assets/images/tag.svg" alt="">
        <span class="aboutproductdesign ms-2">Product Design</span>
        <img class="ellipse ms-2" src="assets/images/Ellipse 274.png" alt="">
        <span class="aboutproductdesign ms-2">Robotics</span>

    </div>
    <div class="bubapuppet mx-5 mt-3 d-flex justify-content-between">

        <span class="buba">Buba Puppet Lamp</span>
        <span class="buba">₹25000</span>
    </div>
    <div class="Raftarvarify mx-5 mt-3 d-flex justify-content-between">
        <div class="locationdata">
            <img src="assets/images/location.svg" alt="">
            <span class="ms-2 location">Alwarpet, Chennai</span>

        </div>
        <div class="varification">
            <img class="varifysign" src="assets/images/Group 1000004522.png" alt="">
            <span class="ms-2">Raftaarr Varified</span>
        </div>
        <!-- <div class="varification request">
            <span class="ms-2 ">Request Verification</span>
        </div> -->
    </div>

    <div class="ownership d-flex justify-content-evenly pt-3">
        <div class=" logocap d-flex">
            <img class="logocapimage mt-2" src="assets/images/user.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>Self Owned</h5>
                <p class="text-truncate logocapsubdata">OwnerShip Type</p>
            </div>

        </div>
        <div class="logocap d-flex">
            <img class="logocapimage mt-2 " src="assets/images/calendar.svg" alt="">
            <div class="logocapdata ms-2">
                <h5>2022</h5>
                <p class="text-truncate logocapsubdata">Purchased Year</p>
            </div>

        </div>

    </div>
    <div class="aboutproduct mt-3 mx-5 d-flex justify-content-between">
        <span class="productcondition">Product Condition</span>
        <button class="newProduct">New</button>
    </div>
    <hr>
    <div class=" aboutproduct mt-3 mx-5 d-flex justify-content-between">
        <span class="productcondition">Is this product under hypothecation?</span>
        <button class="producttype">No</button>
    </div>
    <hr>
    <h4 class="aboutbuba mt-2 ms-5">
        About Buba Puppet Lamp
    </h4>
    <p class="mx-5 mt-4">
        Plastic is a key material for IKEA and remains so going forward.
        It is strong, durable, lightweight and versatile. It is a main
        component in a large amount of our products and has a wide variety
        of applications from surface materials. Plastic is a key material '
        for IKEA and remains so going forward. It is strong, durable,
        lightweight and versatile. It is a main component in a large
        amount of our products and has a wide variety of applications from
        surface materials. Plastic is a key material for IKEA and remains
        so going forward. It is strong, durable, lightweight and versatile.
        It is a main component in a large amount of our products and has a
        wide variety of applications from surface materials.
    </p>
  <div class="d-flex mb-5 px-5">
      <div class="d-flex  align-items-center">
          <img src="assets/images/Heart.png" width="27px" height="27px">
          <h3 class="ms-3 mb-0">Interested Users</h3>
      </div>
      <div class="d-flex align-items-center ms-5">
        <img src="assets/images/Reply.png">
        <h3 class="ms-3 mb-0">105 Share</h3>
    </div>
  </div>
</div>