<div class="main">
    <div>
        <h4>Add New</h4>
    </div>
    <div class="add-new p-md-5 p-3 mt-4">
        <div class="row p-0 m-0">
            <div class="post">
                <button class="btn post me-2">Post</button>
                <button class="btn requirement ms-2" (click)=" requirementPublish()">Requirement</button>
            </div>
            <div class="adddocumentpage ">
                <div class="my-4 Unisenseimg">
                    <img class="ms-4" src="assets/images/Avatar.svg" alt="">
                    <span class="ms-2">Unisense Digital Agency</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="adddocumentpage ">
                    <div class="locateyourdata ">
                        <h3>Title</h3>
                        <input type="text" class="form-control locationdata  my-2 " placeholder="Enter the title">
                    </div>
                    <div class="locateyourdata ">
                        <h3>Select Categories</h3>
                        <div class="my-3 d-flex flex-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Category 1</mat-label>
                                <mat-select>
                                    <mat-option value="0">Category 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>    
                        <div class="my-3 d-flex flex-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Category 1</mat-label>
                                <mat-select>
                                    <mat-option value="0">Category 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                  
                      </div>
                    <div class="locateyourdata ">
                        <h3>Unit Required</h3>
                        <div class="my-2 d-flex flex-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Category 1</mat-label>
                                <mat-select>
                                    <mat-option value="0">Category 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>  
                        <div class="locateyourdata ">
                            <h3>Lead Time</h3>
                            <input type="text" class="form-control locationdata  my-2 " placeholder="No. of days and hours">
                        </div> 
                        <div class="locateyourdata ">
                            <h3>Add Custom field</h3>
                            <input type="text" class="form-control locationdata  my-2 " placeholder="Enter Field">
                        </div> 
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="adddocumentpage ">
                    <div class="locateyourdata ">
                        <h3>Location</h3>
                        <input type="text" class="form-control locationdata  my-2 " placeholder="Enter Location here">
                        <img src="assets/images/gps.png">
                    </div>
                    <div class="locateyourdata mt-md-5 mt-2">
                        <div class="my-3 d-flex flex-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Category 1</mat-label>
                                <mat-select>
                                    <mat-option value="0">Category 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>  
                        <div class="my-3 d-flex flex-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Category 1</mat-label>
                                <mat-select>
                                    <mat-option value="0">Category 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>  
                        <div class="locateyourdata ">
                            <h3>Unit Type</h3>
                            <div class="my-2 d-flex flex-column">
                                <mat-form-field appearance="fill">
                                    <mat-label>Category 1</mat-label>
                                    <mat-select>
                                        <mat-option value="0">Category 1</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                            <h3>Payment Time</h3>
                            <div class="my-2 d-flex flex-column">
                                <mat-form-field appearance="fill">
                                    <mat-label>No. of days</mat-label>
                                    <mat-select>
                                        <mat-option value="0">No. of days</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="adddocumentpage py-3 mt-5">
                    <div class="postdata d-flex justify-content-between align-items-center">
                        <button (click)="postPublish()">Post<img
                                src="assets/images/login@3x .svg"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>