@import "../../../../assets/variable.scss";
@import "../../../../assets/common.scss";

.dashboard-container {
    .behindimgdata{
        
        // background-image: url('/assets/images/Rectangle150882.png');
        // background-repeat: no-repeat;
        // background-size: 100% 334px;
        // height: 200px;
        // border-radius: 0px 15px 15px 15px;
        @media (max-width:768px) {
            background-size: 100% 200px;
            height: 200px;
        }
        .rectangleimg{
            width:130px;
            height:130px;
            top: 204px;
            transform: translateY(-50%);
            left:45px;
            @media (max-width:1024px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    
    .details {
        padding-left: 215px;
        padding-top: 12px;
        @media (max-width:1024px) {
            padding-left: 160px;
        }
        h4 {
            @include fontStyleManager($fontFamilyInterRegular, $fontWeightBold, $fontSize22, $Color_303065);
            @media (max-width:1024px) {
               font-size: 18px !important;
            }
        }
        p {
            padding-left: 2px;
            @include fontStyleManager($fontFamilyInterRegular, $fontWeightMedium, $fontSize13, $Color_768DA9);
        }
    }
}
.clickbackphoto{
    bottom: -50px;
    left: 152px;
    width: 28px;
    height: 28px;
    z-index: 1;
}
.backimg{
    border-radius: 10px;
    object-fit: cover;
}
.backimg1{
    object-fit: cover;
    border-radius: 10px;
}




  
  #fileInput{
    display: none;
  }