<div class="modal-header pb-0">
</div>
<div class="modal-body pt-0 p-0">
    <div class=" me-2 mt-3  d-flex align-items-start text-start">
        <img src="assets/images/document-text.svg">
        <div class="ms-3">
            <h2 class="m-0">My Requirement</h2>
            <p class="mb-0 "> Pellentesque vivamus nulla est, </p>
        </div>
    </div>
    <div class=" me-2 mt-3 d-flex align-items-start text-start">
        <img src="assets/images/image.svg">
        <div class="ms-3">
            <h2 class="m-0">My Post</h2>
            <p class="mb-0 "> Pellentesque vivamus nulla est, </p>
        </div>
    </div>
    <div class=" me-2 mt-2 d-flex align-items-start text-start">
        <img src="assets/images/box.svg">
        <div class="ms-3">
            <h2 class="m-0">My Marketplace Products</h2>
            <p class="mb-0 "> Pellentesque vivamus nulla est, </p>
        </div>
    </div>
    <div class=" me-2 mt-3 d-flex align-items-start text-start">
        <img src="assets/images/tag-2.svg">
        <div class="ms-3">
            <h2 class="m-0">Ads</h2>
            <p class="mb-0 "> Pellentesque vivamus nulla est, </p>
        </div>
    </div>
</div>
