
<div class="main ">
    <div class="d-flex pb-3 my-2">
        <img src="assets/images/arrow-circle-left.svg">
        <h3 class="ms-2 mb-0">Add Requirements</h3>
    </div> 
        <div class="row m-0 ">
        <div class="col-md-12 add-new py-3 px-md-4 px-2">
            <div class="main_comp pb-0">
                <span >Requirement Title</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter requirement title">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Requirement Location</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter requirement location">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Category</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter category">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Sub Category</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter sub category">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >No. of payments required</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter no. of payments required">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Lead Time</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter lead time">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Payment Term</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Enter payment term">
                </div>
            </div>
            <div class="main_comp  pb-0">
                <span >Add Custom Field</span>
                <div class="locateyourdata mt-2">
                    <input type="text" class="form-control locationdata  mt-1 " placeholder="Add custom field">
                </div>
            </div>
            <div class="postdata main_comp d-flex justify-content-center">
                <button (click)="openpostModal()">Post<img  class="ms-2"></button>
            </div>
        </div>
        
    </div>
</div>


