<div class="main ">
    <div class="d-flex pb-3 my-2">
        <img [routerLink]="['/main/home']" src="assets/images/arrow-circle-left.svg">
        <h3 class="ms-2 mb-0">Edit Product</h3>
    </div>
    <div class="row m-0">
        <div class="col-md-12 add-new">
            <form class="px-md-5 px-2 py-md-4 py-3" [formGroup]="machineForm">
                <div class=" ">
                    <span>Product title</span>
                    <div class="locateyourdata mt-2">
                        <input type="text" class="form-control locationdata  " formControlName="title"
                            placeholder="Title here">
                    </div>
                </div>

                <div class="addcontentdata mt-3">
                    <span>Project description</span>
                    <textarea type="text" class="form-control addcontent mt-2" formControlName="description"
                        maxlength="300" placeholder="Product description here">
                        </textarea>
                </div>
                <div class="addcontentdata mt-3">
                    <span>Highlights</span>
                    <textarea type="text" class="form-control addcontent mt-2" formControlName="highlights"
                        maxlength="100" placeholder="Product description here">
                        </textarea>
                </div>
                <div class="adddocument mt-4 d-flex align-items-center">
                    <div>
                        <img src="assets/images/Group.svg" alt="">
                        <span class="ms-2">
                            Add images/videos
                        </span>
                    </div>
                    <p class="m-0">Maximum 5 Allowed</p>
                </div>
                <hr>
                <div class="main_comp d-flex align-items-center">
                    <div class="upload-img position-relative d-inline-block"
                        *ngFor="let image of images; let i = index">
                        <img [src]="image.url" width="109px" height="109px">
                    </div>
                    <div class="upload-img position-relative d-inline-block"
                        *ngFor="let video of videos; let i = index">
                        <video width="109px" height="109px" controls>
                            <source [src]="video.url" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="upload-img position-relative d-inline-block"
                        *ngFor="let document of pdf; let i = index">
                        <a target="_self" [href]="document.url" download="pdf">
                            <img src="assets/images/pdf 3 (1).svg" width="109px" height="109px">
                        </a>
                    </div>

                </div>
                <div class="postdata main_comp d-flex justify-content-center mt-3">
                    <button (click)="onSubmit(machineForm.value)">Save<img class="ms-2"></button>
                </div>

            </form>

        </div>

    </div>
</div>