
<div class="main ">
    <div class="d-flex pb-3 my-2" >
        <img (click)="goBack()" src="assets/images/arrow-circle-left.svg">
        <h3 (click)="goBack()" class="ms-2 mb-0">Change password</h3>
    </div>
    <div class="row m-0 ">
        <div class="col-md-12 add-new py-3 px-md-4 px-2">
            <form [formGroup]="loginForm">
                <div class="px-md-5 px-3 py-md-2  ">
                    <label>Current password</label>
                    <div class="locateyourdata mt-2">
                        <input type="password" class="w-100 locationdata  mt-1 " [ngClass]="{ 'is-invalid': submitted && f['old_password'].errors}"
                         placeholder="Enter current password" formControlName="old_password">
                        <div *ngIf=" submitted && f['old_password'].errors" class="invalid-feedback">
                            <div *ngIf="submitted && f['old_password'].errors['required']">Current password is required.</div>
                          </div> 
                    </div>
                </div>
                <div class="px-md-5 px-3 py-md-2 ">
                    <label>New password</label>
                    <div class="locateyourdata mt-2">
                        <input type="password" class="w-100 locationdata  mt-1 "
                        [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors}" placeholder="Enter new password" formControlName="new_password">
                        <div *ngIf=" submitted && f['new_password'].errors" class="invalid-feedback">
                            <div *ngIf="submitted && f['new_password'].errors['required']">New password is required.</div>
                          </div> 
                    </div>
                </div>
                <div class="px-md-5 px-3 py-md-2 ">
                    <label>Confirm password</label>
                    <div class="locateyourdata mt-2">
                        <input type="text" class="w-100 locationdata  mt-1 "
                        [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors}" placeholder="Enter confirm password" formControlName="confirm_password">
                        <div *ngIf=" submitted && f['confirm_password'].errors" class="invalid-feedback">
                            <div *ngIf="submitted && f['confirm_password'].errors['required']">Confirm password is required.</div>
                          </div>
                    </div>
                </div>
                <div class="postdata main_comp d-flex justify-content-center">
                    <button (click)="onSubmit(loginForm.value)">Save<img class="ms-2"></button>
                </div>
            </form>
        </div>
    </div>
</div>
