@import "../../../../../assets/variable.scss";
@import "../../../../../assets/common.scss";
.main_comp{
    padding: 25px 135px;
    background-color: #EAF3FF    ;
    @media (max-width:768px) {
        padding: 10px 15px;
    }
    h3{
        @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize20,$Color_0A0045); 
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
}
.main{
    background-color: white    ;
    border-radius: 15px;
    
}
.requirement{
    background-color: #F3F6FB;
    border-radius: 0px 0px 20px 20px;
    // padding: 20px 120px;
    // margin: 0px 40px;
    margin-right: 28px;
    h3{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize18,$Color_5B6D8E);
        @media (max-width:768px) {
        font-size: 14px !important;
        }
    }
    h2{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize22,$Color_0A0045);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }  
}
.machine{
    h2{
        @include fontStyleManager($fontFamilyAvenir,$fontWeightExtraBold,$fontSize26,$Color_1B194B);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
    .surface{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize16,$Color_888888);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
    .location{
        @include fontStyleManager($fontFamilyInterRegular,$fontWeightRegular,$fontSize18,$Color_5B6D8E);
        @media (max-width:768px) {
            font-size: 14px !important;
        }
    }
    .price{
        @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize20,$Color_0A0045);
        @media (max-width:768px) {
            font-size: 14px !important;
        } 
    }
    .verify{
        @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize16,$Color_23C99A);
        @media (max-width:768px) {
            font-size: 14px !important;
        }  
    }
}
.center-div{
    .type{
        @include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize16,$Color_002280) ;
    }
    .value{
        text-transform: capitalize;
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize16,$Color_768DA9) ;

    }
}
.title{
    h2{
        @include fontStyleManager($fontFamilyAvenir,$fontWeightExtraBold,$fontSize26,$Color_1B194B) ; 
    }
    p{
        @include fontStyleManager($fontFamilyInterMedium,$fontWeightMedium,$fontSize15,$Color_768DA9) ; 
        line-height: 26px;
    }
}

.carousel-control-prev{
    background-color: transparent;
    width: auto;
    padding: 0px;
    left: -27px;
    opacity: 1;
   
}
.carousel-control-next{
    background-color: transparent;
    width: auto;
    padding: 0px;
    right: -27px;
    opacity: 1;
   
}
.carousel-control-prev-icon{
    background-image: url('/assets/images/Arrow_left_border.svg');
    width: 48px;
    height: 48px;
}
.carousel-control-next-icon{
    background-image: url('/assets/images/Arrow_right_border.svg');
    width: 48px;
    height: 48px;
}
.user-btn{
    background: #EE7402;
border-radius: 40px;
padding: 17px 12px;
width: 272px;
@include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize16,$Colorwhite) ;

}

// .carousel-inner{
// .carousel-item{
// img{
//     height: 384px;
// }
// }
// }

.centercrop{
    height: 384px;
    object-fit: cover;
    width: 100%;
}
.interestBtn{
    background: #EE7402;
border-radius: 40px;
padding: 17px 12px;
width: 272px;
@include fontStyleManager($fontFamilyInterSemiBold,$fontWeightSemiBold,$fontSize16,$Colorwhite) ;

}