<!-- <app-header>
    <li class="breadcrumb-item active p-0"> </li>
    <li class="breadcrumb-item active p-0">Transaction</li>
</app-header>
<div>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Transaction type</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter transaction type">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Company / Client name</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder=" Enter Company / Client name">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Associated order number</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter associated order number">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Product name</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter product name">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Product category</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Product sub-category</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Product HSN code</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter HSN code">
        </div>
    </div>
    <hr>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Tax type</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Tax percentage</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter tax percentage">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Total amount receivable</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter amount receivable">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Total amount received</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter amount received">
        </div>
    </div>
    <div class="text-center aftertransaction">
        You can fill this details after making the transaction as done
    </div>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Mode of payment</span>
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Date of payment</span>
       
        <div class="locateyourdata ">
            <img  class="droparrow" src="assets/images/calendar-2@1x.png" alt="">
            <input type="text" class="form-control locationdata  my-4 " placeholder="select">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Notes</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter notes">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Receipt number</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter receipt number">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Balance amount</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter balance amount">
        </div>
    </div>
    <div class=" d-flex justify-content-md-end justify-content-center flex-md-nowrap flex-wrap submitbtn">
        <div class="addfielddata me-md-3 me-0  mt-3">
            <button>Payment not done</button>
        </div>

        <div class="postdata ms-md-3 ms-0 my-3">
            <button (click)="paymentPayer()">Mark this transaction as done <img src="assets/images/login.svg" alt=""></button>
        </div>
    </div>
    <div class="clearfix"></div>


</div> -->

<!-- =================================================================================== -->

<!-- <div class="px-3">
    <div class="d-flex justify-content-between align-items-center">
        <div *ngIf="addNewTransaction"  class="add-customer-heading py-3">Add New Transaction</div>
        <div *ngIf="editTransaction"  class="add-customer-heading py-3">Edit Transaction</div>
        <div *ngIf="transactionDetail" class="add-customer-heading py-3">Transactions</div>
        <div class="position-relative">
            <img src="../assets/images/kebab-menu-transaction.png" alt="" (click)="showdropdown()">
            <ul class="dropdown-menu border-0 position-absolute" [ngClass]="isShow ? 'show':'hide'">
                <li routerLink="/business/transactions/edit-transaction">
                    <a class="dropdown-item d-flex align-items-start">
                        <img src="assets/images/doc-icon.png" class="me-3">
                        <div>
                            <div>Share as CSP/XLSX</div>
                            <div class="sub-content">Pellentesque vivamus nulla est,</div> 
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item mt-3 d-flex align-items-start">
                        <img src="assets/images/receipt-icon.png" class="me-3">
                        <div>
                            <div>Generate Receipt</div>
                            <div class="sub-content">Pellentesque vivamus nulla est,</div> 
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item delete mt-3 d-flex align-items-start">
                        <img src="assets/images/viewmake.svg" class="me-3">
                        <div>
                            <div>Review Generated Receipt</div>
                            <div class="sub-content">Pellentesque vivamus nulla est,</div> 
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item delete mt-3 d-flex align-items-start">
                        <img src="assets/images/generate-receipt-icon.png" class="me-3">
                        <div>
                            <div>Share Generated Receipt</div>
                            <div class="sub-content">Pellentesque vivamus nulla est,</div> 
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form [formGroup]="transactionForm" class="add-customer-container" (submit)="onSubmit($event)">
        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5">Transaction type</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="transaction_type" class="form-control locationdata   mt-2 mb-4 ">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let transactionTypes of transactionTypes" [value]="transactionTypes">{{transactionTypes | titlecase}}
                        </option>
                        </select>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Company / Client name</label>
                    <div class="position-relative">
                        <input type="text" class="form-control locationdata   mt-2 mb-4 " placeholder="Enter name" formControlName="company_name"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata  position-relative c_input">
                    <label class="titledata fs-5 ">Associated order number</label>
                    <div class="position-relative">
                     
                        <input type="text" class="form-control countrycode locationdata mt-2 mb-4 "
                            formControlName="associated_order_no"
                            placeholder="Enter associated order number" />
                      
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5">Business Activity</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="industry_id" class="form-control locationdata   mt-2 mb-4 " (change)="getIndustry($event)">
                        <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let business of industrylist" [value]="business.id">{{business.industry_name}}
                        </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5">Industry</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="category1_id" class="form-control locationdata   mt-2 mb-4 " (change)="getSubCatagory($event);brand($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let industry of category1List" [value]="industry.id">{{industry.title}}
                        </option>
                        </select>
                    </div>
                </div>
                
                <div class="locateyourdata">
                    <label class="titledata  fs-5">Product sub category</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="category2_id" class="form-control locationdata   mt-2 mb-4 " max="999999" (change)="productTypes($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productSubCat of productSubCategory" [value]="productSubCat.id">{{productSubCat.title}}
                        </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5">Product type</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="category3_id" class="form-control locationdata   mt-2 mb-4 " max="999999" (change)="productsubType($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productType of productType" [value]="productType.id">{{productType.title}}
                        </option>
                        </select>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5">Product sub type</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="category4_id" class="form-control locationdata   mt-2 mb-4 " max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productSubType of productSubType" [value]="productSubType.id">{{productSubType.title}}
                        </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5">Product brand</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="brand_id" class="form-control locationdata   mt-2 mb-4 " max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productBrand of productBrand" [value]="productBrand.id">{{productBrand.brand_name}}
                        </option>
                        </select>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Product HSN code</label>
                    <div class="position-relative">
                        <input type="text" formControlName="hsn_code" class="form-control locationdata   mt-2 mb-4 " placeholder="Enter HSN code" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5">Tax type</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="tax_type" class="form-control locationdata   mt-2 mb-4 " max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let taxType of taxTypes" [value]="taxType">{{taxType}}
                        </option>
                        </select>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Tax percentage</label>
                    <div class="position-relative">
                        <input type="text" formControlName="tax_percentage" class="form-control locationdata   mt-2 mb-4 " placeholder="Enter tax percentage" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Total amount receivable</label>
                    <div class="position-relative">
                        <input type="text" formControlName="amount_receivable" class="form-control locationdata   mt-2 mb-4 " placeholder="Enter amount receivable" />
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Total amount received</label>
                    <div class="position-relative">
                        <input type="text" formControlName="amount_recieved" class="form-control locationdata   mt-2 mb-4 " placeholder="Enter amount received" />
                    </div>
                </div>
            </div>
        </div>
    </form>
<form class="add-customer-container" [formGroup]="paymentForm" (submit)="onSubmit($event)">
        <div class="aftertransaction">
            You can fill this details after making the transaction as done
        </div>
       
        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Mode of payment</label>
                    <div class="position-relative">
                        <img class="droparrow" src="assets/images/arrow-down.svg">
                        <select formControlName="mode_of_payment" class="form-control locationdata   mt-2 mb-4 " max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let modeOfpayment of modeOfpayment" [value]="modeOfpayment">{{modeOfpayment}}
                        </option>
                        </select>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Date</label>
                    <div class="position-relative">
                        <img  class="droparrow" src="assets/images/calendar-2@1x.png" alt="">
                        <input type="date"  class="form-control locationdata   mt-2 mb-4 " formControlName="date_of_payment" placeholder="Select" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Note</label>
                    <div class="position-relative">
                        <input type="text"  class="form-control locationdata   mt-2 mb-4 " formControlName="note" placeholder="Enter notes" />
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata fs-5 ">Receipt number</label>
                    <div class="position-relative">
                        <input type="text"  class="form-control locationdata   mt-2 mb-4 " formControlName="receipt_no" placeholder="Enter receipt number" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <label class="titledata  fs-5">Balance amount</label>
            <div class="input-container input-container-padding-right">
                <div class="locateyourdata w-100">
                    <img class="droparrow" src="assets/images/arrow-down.svg">
                    <div class="position-relative">
                        <input type="text" class="form-control locationdata   mt-2 mb-4 " formControlName="receipt_no" placeholder="Enter balance amount" />
                    </div>
                </div>
            </div>
           
        </div>
    


        <div *ngIf="addNewTransaction" class="postdata d-flex justify-content-center pt-3 pb-5">
            <button type="button" class="px-4 me-3 transaction-btn">Cancel</button>
            <button type="submit" class="px-4 submit-btn">Submit</button>
        </div>

        <div *ngIf="editTransaction" class="postdata d-flex justify-content-center pt-3 pb-5">
            <button type="button" class="px-4 me-3 transaction-btn">Cancel</button>
            <button type="submit" class="px-4 submit-btn">Save</button>
        </div>

        <div *ngIf="transactionDetail" class="postdata d-flex justify-content-center pt-3 pb-5">
            <button type="button" class="px-4 me-3 transaction-btn" (click)="openPaymentPayer()">Payment not done</button>
            <button type="submit" class="px-4 submit-btn">Mark this transaction as done</button>
        </div>
    </form>
    
</div> -->


<!-- <app-header>
    <li class="breadcrumb-item active p-0"> </li>
    <li class="breadcrumb-item active p-0">Transaction</li>
</app-header>
<div>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Transaction type</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter transaction type">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Company / Client name</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder=" Enter Company / Client name">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Associated order number</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter associated order number">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Product name</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter product name">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Product category</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Product sub-category</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Product HSN code</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter HSN code">
        </div>
    </div>
    <hr>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Tax type</span>
        <mat-form-field appearance="fill">
            <mat-label>Select product category</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>

    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Tax percentage</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter tax percentage">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Total amount receivable</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter amount receivable">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Total amount received</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter amount received">
        </div>
    </div>
    <div class="text-center aftertransaction">
        You can fill this details after making the transaction as done
    </div>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3 d-flex flex-column">
        <span class=" titledata fs-5 mb-4">Mode of payment</span>
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>
                <mat-option>Select product category</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Date of payment</span>
       
        <div class="locateyourdata ">
            <img  class="droparrow" mailto:src="assets/images/calendar-2@1x.png" alt="">
            <input type="text" class="form-control locationdata  my-4 " placeholder="select">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Notes</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter notes">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Receipt number</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter receipt number">
        </div>
    </div>
    <hr>
    <div class="mx-md-5 mx-3 pt-md-4 mt-3">
        <span class=" titledata fs-5 ">Balance amount</span>
        <div class="locateyourdata ">
            <input type="text" class="form-control locationdata  my-4 " placeholder="Enter balance amount">
        </div>
    </div>
    <div class=" d-flex justify-content-md-end justify-content-center flex-md-nowrap flex-wrap submitbtn">
        <div class="addfielddata me-md-3 me-0  mt-3">
            <button>Payment not done</button>
        </div>

        <div class="postdata ms-md-3 ms-0 my-3">
            <button (click)="paymentPayer()">Mark this transaction as done <img src="assets/images/login.svg" alt=""></button>
        </div>
    </div>
    <div class="clearfix"></div>


</div> -->
<div class="px-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex pb-3 cursor" (click)="navigateBack()">
            <img src="assets/images/arrow-circle-left.svg" alt="" />
            <div *ngIf="addNewTransaction"  class="add-customer-heading ms-2">Add New Transaction</div>
            <div *ngIf="editTransaction"  class="add-customer-heading ms-2">Edit Transaction</div>
            <div *ngIf="transactionDetail" class="add-customer-heading ms-2">Transactions</div>
        </div>

        <div *ngIf="editTransaction" class="position-relative">
            <img src="../../../../../assets/images/kebab-menu-transaction.png" alt="" (click)="showdropdown()">
            <ul class="dropdown-menu border-0 position-absolute" [ngClass]="isShow ? 'show':'hide'">
                <li routerLink="/business/transactions/edit-transaction">
                    <a class="dropdown-item d-flex align-items-stretch">
                        <img src="assets/images/doc-icon.png" class="me-3">
                        <div>
                            <div>Share as CSV/XLSX</div>
                            <!-- <div class="sub-content">Pellentesque vivamus nulla est,</div>  -->
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item mt-3 d-flex align-items-stretch">
                        <img src="assets/images/receipt-icon.png" class="me-3">
                        <div>
                            <div>Generate Receipt</div>
                            <!-- <div class="sub-content">Pellentesque vivamus nulla est,</div>  -->
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item delete mt-3 d-flex align-items-stretch">
                        <img src="assets/images/viewmake.svg" class="me-3">
                        <div>
                            <div>Review Generated Receipt</div>
                            <!-- <div class="sub-content">Pellentesque vivamus nulla est,</div>  -->
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item delete mt-3 d-flex align-items-stretch">
                        <img src="assets/images/generate-receipt-icon.png" class="me-3">
                        <div>
                            <div>Share Generated Receipt</div>
                            <!-- <div class="sub-content">Pellentesque vivamus nulla est,</div>  -->
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form [formGroup]="transactionForm" class="add-customer-container" (submit)="onSubmit($event)">
        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Transaction type</label>
                    <div class="d-flex flex-column">
                        <mat-form-field appearance="fill" class="">
                            <mat-select #select placeholder="Please select" formControlName="transaction_type"
                                >
                                <mat-option *ngFor="let transactionTypes of transactionTypes" [value]="transactionTypes">{{transactionTypes | titlecase}}
                                </mat-option>
                            </mat-select>                        
                        </mat-form-field>
                        <small *ngIf="submitted && f.transaction_type.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.transaction_type.errors?.required">
                                Please select transaction type
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Company / Client name</label>
                    <div class="position-relative">
                        <input type="text" class="form-control locationdata" placeholder="Enter name" formControlName="company_name" maxlength="50"/>
                        <small *ngIf="submitted && f.company_name.invalid " class="alert px-0 select-box-alert">
                            <small *ngIf="f.company_name.errors?.required">
                                Company / Client name is required
                            </small>
                            <small *ngIf="f.company_name.errors?.pattern">
                                Invalid company / client name
                            </small>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata  position-relative c_input">
                    <label class="titledata d-block py-3">Associated order number</label>
                    <div class="position-relative">
                        <!-- <select formControlName="country_code" class="country-code mx-1" max="999999">
                            <option>+91</option>
                        </select> -->
                        <input type="text" class="form-control countrycode locationdata"
                            formControlName="associated_order_no"
                            placeholder="Enter associated order number" maxlength="10"/>
                        <!-- <p class="counternumber px-2 text-center">
                            <span *ngIf="counternumber.length<=9 && counternumber.length>0">0</span>{{counternumber.length}}/10
                        </p> -->
                        <small *ngIf="submitted && f.associated_order_no.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.associated_order_no.errors?.required">
                                Associated order number is required
                            </small>
                            <small *ngIf="f.associated_order_no.errors?.pattern">
                                Invalid associated order number
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Business Activity</label>
                    <!-- <div class="position-relative">
                        
                        <select formControlName="industry_id" class="form-control locationdata select-box mt-2 mb-4 " (change)="getIndustry($event)">
                        <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let business of industrylist" [value]="business.id">{{business.industry_name}}
                        </option>
                        </select>

                       
                    </div> -->
                    
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class=" " formControlName="industry_id"
                             (selectionChange)="getIndustry($event)"
                           >
                            <mat-option *ngFor="let items of industrylist" [value]="items.id">{{items.industry_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && f.associated_order_no.invalid" class="alert p-0 mb-0">
                        <small *ngIf="f.associated_order_no.errors?.required">
                            Please select business activity
                        </small>
                    </small>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Industry</label>
                    <!-- <div class="position-relative">
                        <select formControlName="category1_id" class="form-control locationdata select-box" (change)="getSubCatagory($event);brand($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let industry of category1List" [value]="industry.id">{{industry.title}}
                        </option>
                        </select>
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class=" " formControlName="category1_id"
                             (selectionChange)="getSubCatagory($event);brand($event)"
                           >
                            <mat-option *ngFor="let industry of category1List" [value]="industry.id">{{industry.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && f.category1_id.invalid" class="alert p-0 mb-0">
                        <small *ngIf="f.category1_id.errors?.required">
                            Please select industry
                        </small>
                    </small>
                </div>
                
                <div class="locateyourdata">
                    <label class="titledata  d-block py-3">Product sub category</label>
                    <!-- <div class="position-relative">
                        <select formControlName="category2_id" class="form-control locationdata select-box" max="999999" (change)="productTypes($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productSubCat of productSubCategory" [value]="productSubCat.id">{{productSubCat.title}}
                        </option>
                        </select>
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class=" " formControlName="category2_id"
                             (selectionChange)="productTypes($event)"
                           >
                            <mat-option *ngFor="let productSubCat of productSubCategory" [value]="productSubCat.id">{{productSubCat.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && f.category2_id.invalid" class="alert p-0 mb-0">
                        <small *ngIf="f.category2_id.errors?.required">
                            Please select product sub category
                        </small>
                    </small>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Product type</label>
                    <div class="position-relative">
                        
                        <!-- <select formControlName="category3_id" class="form-control locationdata select-box" max="999999" (change)="productsubType($event)">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productType of productType" [value]="productType.id">{{productType.title}}
                        </option>
                        </select> -->

                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select placeholder="Select" class=" " formControlName="category3_id"
                                 (selectionChange)="productsubType($event)"
                               >
                                <mat-option *ngFor="let productType of productType" [value]="productType.id">{{productType.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <small *ngIf="submitted && f.category3_id.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.category3_id.errors?.required">
                                Please select product type
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Product sub type</label>
                    <!-- <div class="position-relative">
                        
                        <select formControlName="category4_id" class="form-control locationdata select-box" max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productSubType of productSubType" [value]="productSubType.id">{{productSubType.title}}
                        </option>
                        </select>
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class=" " formControlName="category4_id"
                             (selectionChange)="productTypes($event)"
                           >
                            <mat-option *ngFor="let productSubType of productSubType" [value]="productSubType.id">{{productSubType.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && f.category4_id.invalid" class="alert p-0 mb-0">
                        <small *ngIf="f.category4_id.errors?.required">
                            Please select product sub type
                        </small>
                    </small>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Product brand</label>
                    <!-- <div class="position-relative">
                        <select formControlName="brand_id" class="form-control locationdata select-box" max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let productBrand of productBrand" [value]="productBrand.id">{{productBrand.brand_name}}
                        </option>
                        </select>
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class=" " formControlName="brand_id"
                             (selectionChange)="productTypes($event)"
                           >
                            <mat-option *ngFor="let brand of productBrand" [value]="brand.id">{{brand.brand_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && f.brand_id.invalid" class="alert p-0 mb-0">
                        <small *ngIf="f.brand_id.errors?.required">
                            Please select product brand
                        </small>
                    </small>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Product HSN code</label>
                    <div class="position-relative">
                        <input type="text" formControlName="hsn_code" class="form-control locationdata" placeholder="Enter HSN code" (keypress)="isNumberKey($event)"/>
                        <small *ngIf="submitted && f.hsn_code.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.hsn_code.errors?.required">
                                HSN code is required
                            </small>
                            <small *ngIf="f.hsn_code.errors?.pattern">
                               Invalid HSN code
                            </small>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Tax type</label>
                    <div class="position-relative">
                        <!-- <select formControlName="tax_type" class="form-control locationdata select-box" max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let taxType of taxTypes" [value]="taxType">{{taxType}}
                        </option>
                        </select> -->

                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select placeholder="Select" class=" " formControlName="tax_type"
                                 (selectionChange)="productTypes($event)"
                               >
                                <mat-option *ngFor="let taxType of taxTypes" [value]="taxType">{{taxType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <small *ngIf="submitted && f.tax_type.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.tax_type.errors?.required">
                                Please select product brand
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Tax percentage</label>
                    <div class="position-relative">
                        <input type="text" formControlName="tax_percentage" class="form-control locationdata" placeholder="Enter tax percentage" />
                        <small *ngIf="submitted && f.tax_percentage.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.tax_percentage.errors?.required">
                                Tax percentage is required
                            </small>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Total amount receivable</label>
                    <div class="position-relative">
                        <input type="text" formControlName="amount_receivable" class="form-control locationdata" placeholder="Enter amount receivable" maxlength="9" (keypress)="isNumberKey($event)"/>
                        <small *ngIf="submitted && f.amount_receivable.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.amount_receivable.errors?.required">
                                Total amount receivable is required
                            </small>
                            <small *ngIf="f.amount_receivable.errors?.pattern">
                                Invalid total amount receivable
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Total amount received</label>
                    <div class="position-relative">
                        <input type="text" formControlName="amount_recieved" class="form-control locationdata" placeholder="Enter amount received" maxlength="9" (keypress)="isNumberKey($event)"/>
                        <small *ngIf="submitted && f.amount_recieved.invalid" class="alert p-0 mb-0">
                            <small *ngIf="f.amount_recieved.errors?.required">
                                Total amount received is required
                            </small>
                            <small *ngIf="f.amount_recieved.errors?.pattern">
                                Invalid total amount received
                            </small>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <form class="add-customer-container" [formGroup]="paymentForm" (submit)="onSubmit($event)">
        <div class="aftertransaction">
            You can fill this details after making the transaction as done
        </div>
        <!-- <div [formGroup]="paymentForm"> -->
        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Mode of payment</label>
                    <!-- <div class="position-relative">
                        <select formControlName="mode_of_payment" class="form-control locationdata select-box" max="999999">
                            <option class="disabled" value="" disabled selected hidden>Please Select</option>
                        <option *ngFor="let modeOfpayment of modeOfpayment" [value]="modeOfpayment">{{modeOfpayment}}
                        </option>
                        </select>
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select placeholder="Select" class="" formControlName="mode_of_payment">
                            <mat-option *ngFor="let paymentMode of modeOfpayment" [value]="paymentMode">{{paymentMode}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="submitted && p.mode_of_payment.invalid " class="alert px-0 select-box-alert">
                        <small *ngIf="submitted && p.mode_of_payment.errors?.required">
                            Please select mode of payment
                        </small>
                    </small>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Date</label>
                    <!-- <div class="position-relative">
                        <img  class="droparrow" mailto:src="assets/images/calendar-2@1x.png" alt="">
                        <input type="date"  class="form-control locationdata" formControlName="date_of_payment" placeholder="Select" />
                    </div> -->

                    <mat-form-field appearance="fill" class="w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Enter date" formControlName="date_of_payment" (click)="picker.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker">
 
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <small *ngIf="submitted && p.date_of_payment.invalid " class="alert px-0 select-box-alert">
                        <small *ngIf="p.date_of_payment.errors?.required">
                            Date is required
                        </small>
                    </small>
                </div>
            </div>
        </div>

        <div class="">
            <div class="d-flex input-container">
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Note</label>
                    <div class="position-relative">
                        <input type="text"  class="form-control locationdata" formControlName="note" placeholder="Enter notes" (keypress)="alphaNumeric($event)" maxlength="300"/>
                        <small *ngIf="submitted && p.note.invalid " class="alert px-0 select-box-alert">
                            <small *ngIf="p.note.errors?.required">
                                Note is required
                            </small>
                            <small *ngIf="p.note.errors?.pattern">
                                No special character is allowed
                            </small>
                        </small>
                    </div>
                </div>
                <div class="locateyourdata">
                    <label class="titledata d-block py-3">Receipt number</label>
                    <div class="position-relative">
                        <input type="text"  class="form-control locationdata" formControlName="receipt_no" placeholder="Enter receipt number" (keypress)="alphaNumeric($event)" maxlength="20"/>
                        <small *ngIf="submitted && p.receipt_no.invalid " class="alert px-0 select-box-alert">
                            <small *ngIf="p.receipt_no.errors?.required">
                                Receipt number is required
                            </small>
                            <small *ngIf="p.receipt_no.errors?.pattern">
                               Invalid receipt number
                            </small>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <label class="titledata d-block py-3">Balance amount</label>
            <div class="input-container input-container-padding-right">
                <div class="locateyourdata w-100">
                    <img class="droparrow" src="assets/images/arrow-down.svg">
                    <div class="position-relative">
                        <input type="text" class="form-control locationdata" formControlName="balance_amount" placeholder="Enter balance amount" (keypress)="isNumberKey($event)" />
                        <small *ngIf="submitted && p.balance_amount.invalid " class="alert px-0 select-box-alert">
                            <small *ngIf="p.balance_amount.errors?.required">
                                Balance amount is required
                            </small>
                            <small *ngIf="p.balance_amount.errors?.pattern">
                                Invalid balance amount
                            </small>
                        </small>
                    </div>
                </div>
            </div>
           
        </div>
    <!-- </div> -->
    


        <div *ngIf="addNewTransaction" class="postdata d-flex justify-content-center pb-5">
            <button type="button" class="px-4 me-3 transaction-btn">Cancel</button>
            <button type="submit" class="px-4 submit-btn">Submit</button>
        </div>

        <div *ngIf="editTransaction" class="postdata d-flex justify-content-center pt-3 pb-5">
            <button type="button" class="px-4 me-3 transaction-btn">Cancel</button>
            <button type="submit" class="px-4 submit-btn">Save</button>
        </div>

        <div *ngIf="transactionDetail" class="postdata d-flex justify-content-center pt-3 pb-5">
            <button type="button" class="px-4 me-3 transaction-btn" (click)="openPaymentPayer()">Payment not done</button>
            <button type="submit" class="px-4 submit-btn">Mark this transaction as done</button>
        </div>
    </form>
    
</div>




