<div class="row m-0 bg-white d-flex justify-content-between ">
    <div class="col-md-6 p-0  sideimg">
        <div class="signupback">
            <img src="assets/images/auth.png">
        </div>   
             </div>
<div class="col-md-6 " [formGroup]="loginForm" >
    <img class="p-0 mt-4  ms-md-4 ms-0 " src="assets/images/backarrow.png" alt="">
    <div class="p-md-5 p-0 ">
    <h4 class="mt-5">Forgot Password</h4>
    <p class="mt-1 formabout">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. lorem is Sed laying
    </p>
    <!-- login with phone -->
    <div>
        <div class="phonedetail d-grid ">
            <label>Enter phone number*</label>
            <div class="w-100 position-relative  mt-2">
                <p class="position-absolute c_input border-end pe-2 me-2">+91</p>
                <p class="counternumber px-2 text-center"><span
                        *ngIf="countnumber.length<=9 && countnumber.length>0">0</span>{{countnumber.length}}/10
                </p>
                <input type="text" class="form-control countrycode" formControlName="phone_no" maxlength="10"
                [(ngModel)]="number"    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" pattern="^[1-9][0-9]*$" 
           (keydown)="validators.avoidSpace($event)" [(ngModel)]="countnumber" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
                    placeholder="Enter Phone Number">
                <!-- <small *ngIf="(submitted && loginForm.get('phone_no').invalid)">                            Phone Number is required
                </small>  -->
                <small *ngIf="submitted && loginForm.controls['phone_no'].invalid" class="alert">
                    <small *ngIf="submitted && loginForm.controls['phone_no'].errors.required">
                    Phone Number is required
                    </small>
                   
                </small>
                
            </div>
        </div>
       
    </div>
    <div class="text-center resetbtn">
        <button class="loginbtn" (click)="onOtpSend(loginForm.value)">Continue to reset</button>
    </div>
    <div class="text-center mt-3">
        <p class="noaccount">Remember Password? 
            <button class="createaccount" routerLink="/">Login</button></p>
    </div>

</div>
</div>
</div>
