<div class="px-md-5 px-3 py-4 main">
    <div class="d-flex pb-3 my-2">
        <img src="assets/images/arrow-circle-left.svg">
        <h3 class="ms-2 mb-0">Messages</h3>
    </div>
    <div class="chat px-2">
        <div class="row  align-items-start justify-content-between">
            <div class="col-md-4 p-0 col-width">
                <app-chat-user-list></app-chat-user-list>
            </div>
            <div class="col-md-8 chat-start p-0 pb-3">
                <div class="">
                    <div class="d-flex border-bottom align-items-center  p-3">
                        <img src="assets/images/userchat.svg">
                        <h4 class="ms-3">Nasa</h4>
                    </div>
                    <div class=" p-md-4 p-3 conversation">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <div class="userchat mb-3">
                                    <div class="d-flex flex-column align-items-end">
                                        <div class="sent">
                                            <p class="mb-0">I’m good !!! 🙂What about you?</p>
                                        </div>
                                        <span class="my-1">12:30 pm</span>
                                    </div>
                                </div>
                                <div class="userchat d-flex flex-column  align-items-end">
                                    <div class="video position-relative">
                                        <video width="305px" height="200px" controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="mov_bbb.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                        <div class="position-absolute images">
                                            <img src="assets/images/play-circle.svg">
                                        </div>
                                    </div>
                                    <span class="my-1">12:30 pm</span>
                                </div>
                                <div class="sentpdf d-flex flex-column  align-items-end">
                                    <div class="pdf d-flex align-items-center justify-content-center">
                                        <p class="px-2 mb-0">Screenshots.pdf</p>
                                        <img src="assets/images/documentpdf.svg" width="44px"
                                            height="44px">
                                    </div>
                                    <span class="my-1">12:30 pm</span>
                                </div>
                            </div>
                            <div class="userchat d-flex flex-column align-items-end mb-3">
                                <div class="mb-3 d-flex flex-column align-items-start">
                                    <div class="reply mt-3">
                                        <p class="mb-0">👋 Hey, How r u?</p>
                                    </div>
                                    <span class="my-1">12:30 pm</span>
                                </div>
                                <div class="userchat d-flex flex-column align-items-start">
                                    <img class="reply-img" width="305px" height="200px" src="assets/images/img_3.svg">
                                    <span class="my-1">12:30 pm</span>
                                </div>
                                <div class="sentpdf  d-flex flex-column  align-items-end">\
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="pdf reply-pdf d-flex align-items-center justify-content-center">
                                            <img src="assets/images/documt.svg" width="44px" height="44px">
                                            <p class="px-2 mb-0">Screenshots.pdf</p>
                                        </div>
                                        <span class="my-1">12:30 pm</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="dayDate d-flex align-items-center justify-content-center">
                            <hr>
                            <p class="mb-0 mx-2">25 May,2022</p>
                            <hr>
                        </div>
                    </div>

                    <div>
                        <app-input-search></app-input-search>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>