@import "../../../../../assets/variable.scss";
@import "../../../../../assets/common.scss";

.blocked-customer-heading {
    @include fontStyleManager($fontFamilyInterRegular,$fontWeightRegular,$fontSize20,$Color_0A0045);
}

.main_comp{
    padding: 31px 0px 0px 38px;
    @media (max-width:768px) {
        padding: 10px 15px;
    }
    .card-container {
        border-top: 1px solid #F3F3F3;
        border-bottom: 1px solid #F3F3F3;
        border-radius: 20px;
        .unblock-btn {
            background: #FF4F52;
            padding: 11px 34px;
            border-radius: 53px;
        }
    }
}


.container-fluid {
    padding: 0px 0px 31px 0px;
    background: #FFFFFF;
    border-radius: 15px;
    .card-img {
        border-radius: 12px;
        max-height: 150px;
        max-width: 150px;
        height: 100%;
    }

    span {
        @include fontStyleManager($fontFamilyInterMedium, $fontWeightMedium, $fontSize20, $Color_5B6D8E);
        @media (max-width:768px) {
            font-size: 12px !important;
        }
    }

    h5 {
        @include fontStyleManager($fontFamilyInterMedium, $fontWeightRegular, $fontSize26, $Color_0A0045);
        @media (max-width:768px) {
            font-size: 16px !important;
        }
    }

    small {
        @include fontStyleManager($fontFamilyInterSemiBold, $fontWeightSemiBold, $fontSize18, $Color_4791FF);
        @media (max-width:768px) {
            font-size: 12px !important;
        }
    }

    .nodata{
        min-height: 500px;
        p{
            font-size: 35px !important;
        }
    }
}

