<div class="mob-sidenav d-flex justify-content-between p-md-5 p-3">
    <div class="text-center">
        <img src="assets/images/home-2.svg">
        <h4 class="mb-0 mt-2">Home</h4>
    </div>
    <div class="text-center">
        <img src="assets/images/bag-tick-2.svg">
        <h4  class="mb-0 mt-2">Marketplace</h4>
    </div>
    <div class="text-center">
        <img src="assets/images/trend-up.svg">
        <h4  class="mb-0 mt-2">Business</h4>
    </div>
    <div class="text-center">
        <img src="assets/images/profile-circle.svg">
        <h4  class="mb-0 mt-2">Profile</h4>
    </div>
    <div class="text-center">
        <img src="assets/images/category-2.svg">
        <h4  class="mb-0 mt-2">More</h4>
    </div>
</div>