
<div class="mob-header px-md-5 px-3 mt-3">
    <div class="d-flex justify-content-between">
      <img src="assets/images/user.svg">
      <div>
          <h4 class="mb-0">Sequa Capital</h4>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                CP, New Delhi
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div>
        </div>
      </div>
     <img src="assets/images/filterBlue.svg">
     <img src="assets/images/filter (4).svg">
     <img src="assets/images/Group 1000004518.svg">

    </div>